@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

/* animations spec */
@-webkit-keyframes scale {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1, -1);
  }
  }

  @-webkit-keyframes rightleft {
    0%   {left: 200vw;top: 80vh}
    100%  {left: -200vw;top: 20vh}
  }
  @-moz-keyframes rightleft {
    0%   {left: 200vw;top: 80vh}
    100%  {left: -200vw;top: 20vh}
  }
  @keyframes rightleft {
    0%   {left: 200vw;top: 80vh}
    100%  {left: -200vw;top: 20vh}
  }
  @-webkit-keyframes leftright {
    0%   {right: 200vw;top: 80vh}
    100%  {right: -200vw;;top: 40vh}
  }
  @-moz-keyframes leftright {
    0%   {right: 200vw;top: 80vh}
    100%  {right: -200vw;top: 40vh}
  }
  @keyframes leftright {
    0%   {right: 200vw;top: 80vh}
    100%  {right: -200vw;top: 40vh}
  }

  @-webkit-keyframes blink {
    from {
      opacity: 0;
    }
    to {
      opacity: 30;
    }
  }

  @-moz-keyframes blink {
      from {
        opacity: 0;
      }
      to {
        opacity: 30;
      }
    }

  @keyframes blink {
      from {
        opacity: 0;
      }
      to {
        opacity: 30;
      }
    }

    @-webkit-keyframes glow {
      from {
        transform: scale(1.05);
        transform-origin: center center;
      }
      to {
        transform: scale(1.02);
        transform-origin: center center;
      }
    }

  @-moz-keyframes glow {
      from {
        transform: scale(1.05);
        transform-origin: center center;
      }
      to {
        transform: scale(1.02);
        transform-origin: center center;
      }
    }

  @keyframes glow {
      from {
        transform: scale(1.05);
        transform-origin: center center;
      }
      to {
        transform: scale(1.02);
        transform-origin: center center;
      }
    }

    @-webkit-keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    @-webkit-keyframes move-left {
      0%   {left: -120%;}
      100%  {left: 120%;}
    }

    @-moz-keyframes move-left {
      0%   {left: -120%;}
      100%  {left: 120%;}
    }

    @keyframes move-left {
      0%   {left: -120%;}
      100%  {left: 120%;}
    }

    @-webkit-keyframes move-right {
      0%   {left: 120%;}
      100%  {left: -120%;}
    }

    @-moz-keyframes move-right {
      0%   {left: 120%;}
      100%  {left: -120%;}
    }

    @keyframes move-right {
      0%   {left: 120%;}
      100%  {left: -120%;}
    }

/* font selection */
*{
  font-family: 'Roboto', sans-serif;
}

/* my normalize settings */
body {
  /*
  visibility: hidden;
  */
  padding: 0;
  margin: 0;
  }

  html {
    height: 100%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  table {
      border-spacing: 0px;
      padding: 0;
      margin: 0;
      overflow-x: hidden;
      border: 1px solid black;
      width: 100%;
    }

    th, td {
      width: 100%;

    }

    p {
      padding: 0;
      margin: 0;
      margin-block-start: 0em;
      margin-block-end: 0em;
    }

    div {
      padding: 0;
      margin: 0;
    }

    h1 {
      padding: 0;
      margin: 0;
    }

    h2 {
      padding: 0;
      margin: 0;
    }

    h3 {
      padding: 0;
      margin: 0;
    }

    h4 {
      padding: 0;
      margin: 0;
    }

    h5 {
      padding: 0;
      margin: 0;
    }

    h6 {
      padding: 0;
      margin: 0;
    }

    a {
      padding: 0;
      margin: 0;
    }

    img {
      padding: 0;
      margin: 0;
}

/* background */
body {
    overflow-x: hidden;
}

#giorno1, #giorno2, #giorno3, #giorno4, #giorno5, #giorno6, #giorno7 {
  text-align: right;
}

#header-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
}
#allprova {
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  /*
  background: linear-gradient(180deg, #9FC2F8 0%, #E58C74 100%);
  */
  background-size: cover;
  /*
  background-image: url("../img/bg/reference_settimana_bn.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  */
}

.container_settimana_2 {
  display: flex;
  width: 100%;
  height: auto;
  justify-content:center;
    align-items: center;
    height: 80px;
}

.icon1 {
  transition: .4s;
  position: absolute;
  margin-left: 40%;
  vertical-align: middle;
  transform: scale(1.5);
  padding-top:0%;
}

.icon2 {
  transition: .4s;
  position: absolute;
  margin-left: 20%;
  vertical-align: middle;
  transform: scale(1.5);
  padding-top:4%;
}
.icon3 {
  transition: .4s;
  position: absolute;
  margin-left: 0px;
  vertical-align: middle;
  transform: scale(3);
  padding-top:8%;
}
.icon4 {
  transition: .4s;
  position: absolute;
  margin-left: -20%;
  vertical-align: middle;
  transform: scale(1.5);
  padding-top:4%;
}
.icon5 {
  transition: .4s;
  position: absolute;
  margin-left: -40%;
  vertical-align: middle;
  transform: scale(1.5);
  padding-top:0%;
}
/* navbar */
.nav {
  width: 300px;
  height: 200px;
}

/* color and shadow classes */
.shadow-1 {
  text-shadow: 4px 4px 8px #000000;
  }

  .box-shadow-1 {
  box-shadow: 4px 4px 8px #000000;
  }

    .shadow-2 {
  text-shadow: 4px 4px 4px #000000;
  }
  .fill-1 {
    color: #FFFFFF;
  }
  .fill-2 {
    color: #FFC700;
  }

/* navigation classes */
.fixed-bottom {
  width: 100%;
  height: 50%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: red;
  opacity: .5;
      }

      .fixed-top {
            position: fixed;
            left: 0;
            top: 0;
        }

      .absolute {
          position: absolute;
      }
      .relative {
          position: relative;
      }
      .z-index- {
          z-index: -1;
    }

/* object displaying classes */
.hidden {
      visibility: hidden;
    }
#animazione {
}
   .resizehalf {
     width: 20%;
     height: 20%;
  }

/* object spacing classes */
.all{
    min-height: 100vh;
  }

  .distribute-horizontal-2 {
      display: flex;
      align-items:center;
      justify-content: space-around;
    }

  .flex-container > .giorno {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-container > .giorno > img {
    margin: 0px 23.45px;
  }

  .flex-container > .giorno > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 41px;
    color: #FFFFFF;
  }

    .container_settimana {
      margin-left: 5%;
      margin-right: 5%;
      color: white;
    }

    .container_settimana > .titolo {
      text-align: center;
      font-size: 150%;
    }
    .container_home_1 {
      margin-top: 13.5%;
        margin-left: 7%;
        margin-right: 7%;
      }

    .container_home_2 {
      }

    .container_home_1 >.grid_home {
      display: grid;
    }

    .container_settimana >.grid_settimana {
      display: grid;
      grid-template: 100% / 4fr 1.5fr 4fr;
      grid-gap: 4%;
      height: 47px;
      align-items: center;
    }

    .grid_settimana > svg {
      width: 50%;
      height: auto;
      margin: 23% auto;
    }

    .grid_home_1 > .testo {
      color: white;
      font-size: 1.5rem;
      font-size: 7vw;
      line-height: 8.5vw;
    }

    .grid_home_2 > .testo {
      color: #FFC700;
    }

    .grid_home_3 {
      color: white;
      width: 55%;
      height: 48vw;
    }

    .grid_home_4 {
      color: white;
      width: 85%;
    }

    /* single text IDs */
    #citta {
      text-transform: uppercase;
        font-weight: 700;
    }

    #giorno {
      font-weight: 400;
      font-style: italic;
    }

    #orario {
      font-weight: 500;
    }

    #temperatura {
      font-weight: 500;
      font-size: 27vw;
      padding-top: 3%;
      padding-bottom: 3%;
    }

    #titolo {
      font-size: 10vw;
      padding-top: 3%;
      line-height: 1.15;
    }

    #Line_home_alba {
      width: 100%;
      margin-bottom: 5px;
    }

    #sottotitolo {
      font-size: 6vw;
      font-weight: 400;
      line-height: 1.15;
    }

    #maxi-icona {
    -webkit-animation: glow .5s ease-in-out infinite alternate;
    -moz-animation: glow .5s ease-in-out infinite alternate;
    animation: glow .5s ease-in-out infinite alternate;
  }

  #skyline_A_Roma_home_1 {
    width: 130%;
    height: auto;
    position: fixed;
    bottom: 0;
    left:-15%;
  }

  #skyline_B_Roma_home_1 {
    width: 130%;
    height: auto;
    position: fixed;
    bottom: 0;
    left:-15%;
  }

  #skyline_C_Roma_home_1 {
    width: 130%;
    height: auto;
    position: fixed;
    bottom: 0;
    left:-15%;
  }


/* text displaying classes */
.bold {
        font-weight: bold;
      }

      .italic {
        font-style: italic;
      }

      .display-4 {
        font-size: 28vw;
      }

      .display-3 {
        font-size: 10vw;
      }

      .display-2 {
        font-size: 6.5vw;
        letter-spacing: 0.01em;

      }

      .display-1 {
        font-size: 5vw;
      }

      .vertical-align {
        vertical-align: bottom;
      }

/* single items classes */
.navbar-icon {
        width:7%;
        height:7%;
      }

      .android-navbar-icon {
          width:50%;
          height:5%;
        }

      .maxi-icon {
        position: absolute;
        width: 100%;
        height: auto;
        right: -45%;
      }

      .centered-line {
        display: flex;
        justify-content: center;

      }

      .navb {
        color: white;
        display: grid;
        width: 100%;
        height:127px;

      }

      .upperline {
      }

      .upperline > img {
        width: 100%;
        margin: 0px;
        display: flex;
        justify-content: center;
      }

    .blink {
      -webkit-animation: blink .1s infinite alternate; /* Safari 4.0 - 8.0 */
      -moz-animation: blink .1s infinite alternate;
      animation: blink .1s infinite alternate;
    }

/* animations ID */
#glow {
        -webkit-animation: glow .5s ease-in-out infinite alternate;
        -moz-animation: glow .5s ease-in-out infinite alternate;
        animation: glow .5s ease-in-out infinite alternate;
      }

      #animation2 {
        opacity: .5;
        position: absolute;
      -webkit-animation: move-left 20s linear infinite; /* Safari 4.0 - 8.0 */
      -moz-animation: move-left 20s linear infinite;
      animation: move-left 20s linear infinite;
      }

      #animation3 {
        opacity: .5;
        position: absolute;
      top: 150px;
      -webkit-animation: move-right 20s linear infinite; /* Safari 4.0 - 8.0 */
      -moz-animation: move-right 20s linear infinite;
      animation: move-right 20s linear infinite;
      }

      #animation4 {
      -webkit-animation: rotate 20s linear infinite; /* Safari 4.0 - 8.0 */
      -moz-animation: rotate 20s linear infinite;
      animation: rotate 20s linear infinite;
      }

      #blink {
      -webkit-animation: blink .1s infinite alternate; /* Safari 4.0 - 8.0 */
      -moz-animation: blink .1s infinite alternate;
      animation: blink .1s infinite alternate;
      }


/* objects ID */
#rondine1 {
      transform: rotate(10deg) scale(.4); // orienta e scala la rondine
      -webkit-transform: rotate(10deg) scale(.4);; // orienta e scala la rondine
      -moz-transform: rotate(10deg) scale(.4);; // orienta e scala la rondine
      animation: rightleft 5s linear infinite;-webkit-animation: rightleft 5s linear infinite; -moz-animation: rightleft 5s linear infinite;
      }


      #rondine2 {
      transform: rotate(-5deg) scale(-1) scale(.4); // orienta e scala la rondine
      -webkit-transform: rotate(-5deg) scale(-1) scale(.4); // orienta e scala la rondine
      -moz-transform: rotate(-5deg) scale(-1) scale(.4); // orienta e scala la rondine
      animation: leftright 5s linear infinite;-webkit-animation: leftright 5s linear infinite; -moz-animation: leftright 5s linear infinite;
      }
      .path_rondini {
        opacity: .2;

      }
     .path_skyline1 {
        fill: black;
        }
     .path_skyline2 {
        fill: lightgrey;
        }
     .path_skyline3 {
        fill: grey;
        }

     .path_maxi-icona {
        stroke: #FFC700;
        }
    .path_maxi-icona_notte {
       stroke: #FFFFFF;
       }

      #battitodali {
        -webkit-animation: scale .1s alternate infinite; /* Safari 4.0 - 8.0 */
        -moz-animation: scale .1s alternate infinite;
        animation: scale .1s alternate infinite;
        }

      .rondine1 {
        height: 150px;
        width: 100%;
        position: absolute;
      }

      .rondine1 .flexcenter {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

/* prova per landing page */
.mydiv {
        background-image: url("../img/bg/reference_settimana_bn.png");
      }
      .mydiv > .testo2 {
        width: 70%;
        margin: 0 auto;
        padding: 100px 0;
        text-align: center;
      }
      .testo2 p {
        padding: 0px 50px;
      }

@media only screen and (min-width: 500px) {

          .grid_settimana {
            height: 100px;
            color: white;
          }

          .grid_settimana > .testo {
            font-size: 2rem;
            /* color: red; */
            width: 100%;
            align-self: center;
          }

    /*
